<form action="/links" method="post">
  <label for="url">
    url
    <input type="text" name="url">
  </label>
  <label for="title">
    Title
    <input type="text" name="title">
  </label>
  <label for="tags">
    Tags
    <input type="text" name="tags">
  </label>
  <input type="submit" value="Create link">
</form>
